.launch-details-container {
    height: calc(100vh - 64px);
    background-image: url('https://wallpapercat.com/w/full/7/5/a/26802-2721x1997-desktop-hd-spacex-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}
